MONGODB_INITDB_ROOT_USERNAME=root
MONGODB_INITDB_ROOT_PASSWORD=rootme
DB_USERNAME=db-user
DB_PASSWORD=db-password
DB_NAME=db-name
AUTOMATA_DB_ENGINE=sqlite
EMAIL_VERIFICATION_SECRET=foo
MONGO_TEST_URL=:memory:
MONGO_URL=mongo server uri
PORT=3000
REDIS_TEST_URL=use-mock
REDIS_URL=redis server uri
REDIS_PASSWORD=supersecure
SECRET=foo
SQLITE_FILE=path to db file
SQLITE_TEST_FILE=:memory:
